<div class="container border border-white contents-area bg-white" >
<div class="row mt-4 md-2">
  <div class="col-md-6 mx-auto">

    <%= render "error", tag: @tag %>

    <h3><strong><%= flash[:alert] %></strong></h3>
    <h3><strong class="border-bottom border-dark">タグ編集</strong></h3>

      <%= form_with model: @tag, url:admin_tag_path,method: :patch do |f| %>
        <table class="table table-borderless mt-3">
          <tbody>
            <tr>
              <td class="align-middle">
                <label for="genre_name">タグ名</label>
              </td>
              <td class="align-middle">
                <%= f.text_field:tag_type %>
              </td>
              <td>
                <%= f.submit "変更を保存",class: "btn btn-success",  method: :patch, "data-confirm" => "このタグを変更した場合、投稿者のタグも同時に変更されます。本当に変更してよろしいですか?"  %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>

    </div>
  </div>
</div>