<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center text-white admin users">
      <% @posts.each do |t| %>
        <div class="post">
        <%= t.user.email %>
        <%= t.user.name %>
        <%= t.created_at %>
        <%= link_to "投稿の詳細へ", post_path(post.id) %>
      <% if user_signed_in? && current_user.id == post.user_id %>
        <%= link_to "投稿の編集する", edit_post_path(post.id) %>
        <%= button_to "投稿の削除する", post_path(post.id), method: :delete %>
      <% elsif user_signed_in? && current_user.admin? && current_user.id == post.user_id  %>
        <%= link_to "投稿の編集する", edit_post_path(post.id) %>
        <%= button_to "投稿の削除する", post_path(post.id), method: :delete %>
　　  <% end %>

      <% if current_user.admin? %>
        <%= link_to "管理者が削除します", post_path(post.id), method: :delete %>
      <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>
