<% posts.in_groups_of(3, false) do |post_group| %>
  <div class="row ">
      <% post_group.compact.each do |post| %>
        <div class="col-lg-5 text-center text-white toukou">
          <p>
            <%= image_tag post.user.get_profile_image(50, 50), class: "rounded-circle" %>
            <%= post.user.name %>
            <%= post.created_at.strftime('%Y/%m/%d') %>
          </p>

          <%= link_to post_path(post.id) do %>
            <%= image_tag post.get_image, size: '200x150' %>
          <% end %>

          <p><%= post.title %></p>
          <p><%= post.body %></p>
          <div id="waveform_<%= post.id %>">
            <!-- the waveform will be rendered here -->
          </div>
          <script>
            const wavesurfer_<%= post.id %> = WaveSurfer.create({
              container: '#waveform_<%= post.id %>',
              waveColor: 'white',
              progressColor: '#EDFFBE',
              url: '<%= post.audio.url %>',
            })
          </script>
          <button onclick="wavesurfer_<%= post.id %>.playPause()">再生・停止</button>

            <span id="favorite_buttons_<%= post.id %>" >
              <%= render "user/favorites/favorite", post: @post %>
            </span>

          <% post.tags.each do |tag| %>
            <%= tag.tag_type %>
          <% end %>
        </div>
      <% end %>
  </div>
<% end %>
