<div class="container">

  <div class="row">
    <div class="col-lg-10 text-center">
      <h1>共有フォーム</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 text-center">
    <% if @post.errors.any? %>
      <%= @post.errors.count %>件のエラーが発生しました
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    </div>
  </div>

  <%= form_with model: @post do |f| %>
  <div class="row mt-5">
    <div class="col-lg-12 text-center">
      <h4>アーティスト写真 : <%= f.file_field :image, accept: "image/*" %></h4>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-12 text-center">
      <h4>アーティスト名 : <%= f.text_field :title %></h4>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-12 text-center">
      <h4>共有する曲 : <%= f.file_field :audio, accept: "audio/*" %></h4>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-12 text-center">
      <h4>曲名　おすすめ理由 : <%= f.text_area :body %></h4>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-12 text-center">
      <%= f.submit '共有する' %>
    </div>
  </div>
  <% end %>
</div>
