<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div>
        <p>投稿ユーザー画像：<%= image_tag @post.user.get_profile_image(100,100) %></p>
        <p>アーティスト画像 : <%= image_tag @post.get_image, :size =>'100x100' %></p>
        <p>アーティスト名：<%= @post.title %></p>
        <div id="waveform_<%= @post.id %>">
        <!-- the waveform will be rendered here -->
        </div>
        <button onclick="wavesurfer_<%= @post.id %>.playPause()">再生・停止</button>
        <p>曲名と概要：<%= @post.body %></p>
        <p>ユーザーネーム：<%= @post.user.name %></p>

        <% @post.tags.each do |tag| %>
        <table class="table table-bordered table-hover bg-white mb-5">
          <tbody>
            <tr>
              <th style="width: 30%">タグ</th>
              <td style="width: 70%"><%= tag.tag_type %></td>
            </tr>
          </tbody>
        </table>
        <% end %>

        <% if @post.user == current_user %>
          <%= link_to "投稿の編集", edit_post_path(@post), class: "btn btn-info mx-auto" %>
        <% end %>

        <% if @post.user == current_user %>
          <%= link_to "投稿の削除", post_path(@post), class: "btn btn-danger mx-auto", method: :delete %>
        <% end %>

        <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
        <script>
          const wavesurfer_<%= @post.id %> = WaveSurfer.create({
            container: '#waveform_<%= @post.id %>',
            waveColor: '#4F4A85',
            progressColor: '#383351',
            url: '<%= rails_blob_path(@post.audio) %>',
          })
        </script>
      </div>
    </div>
  </div>

  <%= render "comment", post: @post %>
  <%= render "favorite", post: @post %>

  <div class="row">
    <div class="col-lg-6">
      <%= render "bookmark", post: @post %>
    </div>
  </div>
</div>
