<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div>
        <p>投稿ユーザー画像：<%= image_tag @post.user.get_profile_image(100,100) %><%#= image_tag 'man1.png' %></p>
        <p>アーティスト画像 : <%= image_tag @post.get_image %></p>
        <p>アーティスト名：<%= @post.title %></p>
        <div id="waveform_<%= @post.id %>">
        <!-- the waveform will be rendered here -->
        </div>
        <button onclick="wavesurfer_<%= @post.id %>.playPause()">再生・停止</button>
        <p>曲名と概要：<%= @post.body %></p>
        <p>ユーザーネーム：<%#= post.user.name %></p>

        <% if @post.user == current_user %>
          <%= link_to "投稿の削除", post_path(@post), class: "btn btn-danger mx-auto", method: :delete %>
        <% end %>

        <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
        <script>
          console.log('<%= rails_blob_path(@post.audio) %>')
          const wavesurfer_<%= @post.id %> = WaveSurfer.create({
            container: '#waveform_<%= @post.id %>',
            waveColor: '#4F4A85',
            progressColor: '#383351',
            url: '<%= rails_blob_path(@post.audio) %>',
          })
        </script>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <p>コメント件数：<%= @post.post_comments.count %></p>
      <% @post.post_comments.each do |post_comment| %>
        <p><%= image_tag 'man1.png' %></p>
        <%= post_comment.user.name %>
        <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
        <% if post_comment.user == current_user %>
          <%= link_to "コメントを削除", post_post_comment_path(post_comment.post, post_comment), class: "btn btn-danger mx-auto", method: :delete %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <% if @post.favorited_by?(current_user) %>
        <p>
          <%= link_to post_favorites_path(@post), method: :delete do %>
            ♥<%= @post.favorites.count %>
          <% end %>
        </p>
        <% else %>
        <p>
          <%= link_to post_favorites_path(@post), method: :post do %>
            ♡<%= @post.favorites.count %>
          <% end %>
        </p>
       <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <%= form_with model: [@post, @post_comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをする" %>
        <%= f.submit "送信する", class: "btn btn-info btn-block" %>
      <% end %>
    </div>
  </div>
</div>
