<div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav ml-auto">
  <% if admin_signed_in? %>
    <li class="nav-item">
      <%#= link_to admin_user_path do %>
        <i class="fa-solid fa-cake-candles">ユーザー一覧</i>
      <%# end %>
    </li>

    <li class="nav-item">
      <%= link_to admin_posts_path, class: "btn btn-outline-light mx-auto" do %>
        投稿一覧
      <% end %>
    </li>

    <li class="nav-item">
      <%= link_to admin_tags_path, class: "btn btn-outline-light mx-auto" do %>
        タグ一覧
      <% end %>
    </li>

    <li class="nav-item">
      <%= link_to destroy_admin_session_path, class: "btn btn-outline-light mx-auto", method: :delete do %>
        ログアウト
      <% end %>
    </li>

  <!--usersログイン時のヘッダー-->
  <% elsif user_signed_in? %>
    <li class="nav-item">
      ようこそ<%= current_user.name %>さん
    </li>     

    <li class="nav-item">
      <%= link_to users_path, class: "btn btn-outline-light mx-auto" do %>
        ユーザー一覧
      <% end %>
    </li>

    <li class="nav-item">
      <%= link_to posts_path, class: "btn btn-outline-light mx-auto" do %>
        投稿一覧
      <% end %>
    </li>

    <li class="nav-item">
      <%= link_to new_post_path, class: "btn btn-outline-light mx-auto" do %>
        新規投稿
      <% end %>
    </li>

    <li class="nav-item">
      <%= link_to destroy_user_session_path, class: "btn btn-outline-light mx-auto", method: :delete do %>
        ログアウト
      <% end %>
    </li>

  <% else %>
    <!--ログイン前のヘッダー-->
    <li class="nav-item">
      <%= link_to about_path do %>
        <i class="fa-solid fa-eject">About</i>
      <% end %>
    </li>

    <li class="nav-item">
      <%= link_to posts_path do %>
        <i class="fa-solid fa-cake-candles">投稿一覧</i>
      <% end %>
    </li>

    <li class="nav-item">
      <%= link_to new_user_registration_path, data: {"turbolinks" => false} do %>
        <i class="fas fa-user-plus">新規登録</i>
      <% end %>
    </li>

    <li class="nav-item">
      <%= link_to  new_user_session_path do%>
        <i class="fas fa-user">ログイン</i>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>